include README.md
include requirements.txt
include LICENSE
include VStrains_logo.png
include environment.yml
include pyproject.toml

recursive-include recipe/*
recursive-include src/vstrains/*
recursive-include evals/*

global-exclude src/vstrains/__pycache__*.pyc
global-exclude evals/__pycache__*.pyc
